extends layout

block content

    h1 Do you really want to delete this Book Instance?

    form(method='POST' action='')
      div.form-group
        input#bookid.form-control(type='hidden',name='bookInsId', required='true', value=bookinstance._id )

      button.btn.btn-danger(type='submit') Delete